<h2>Add New Post</h2>

<p>
	<form action="/new" method="Post"> 
  		<textarea name="content" class="form-control" rows="6" placeholder="Введите текст поста здесь"></textarea>
	    <br/>
  		<button type="submit" class="btn btn-info">Submit</button>
	</form>

</p>	
